## {{title}}

### Semantic model figure
{{text}}
<p align="center">
    <a href="{{semantic-model-figure-path}}" target="_blank">
        <img src="{{semantic-model-figure-path}}">
    </a>
</p>

***

### Example RDF (turtle)

```ttl
{{&example-rdf}}
```

***
### Validation artifacts
##### ShEx figure

<p align="center">
    <a href="{{shex-figure-path}}" target="_blank">
        <img src="{{shex-figure-path}}">
    </a>
</p>

***
##### ShEx

``` ShEx
{{&shex}}
```